.input-field {
  position: relative;
  margin: 1rem 0;
}

.input-field input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--input-border-color);
  outline: none;
  transition: 0.2s ease-out;
  height: 3rem;
  font-size: 16px;
  margin: 0 0 20px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  background: transparent;
}

.input-field input:focus {
  border-bottom: 1px solid var(--input-focus-border-color);
  box-shadow: 0 1px 0 0 var(--input-focus-border-color);
}
